# Copy this file to env.properties and fill in your values

SERVER_PORT=server-port-goes-here

DATASOURCE_URL=datasource-url-goes-here
DATASOURCE_USERNAME=datasource-username-goes-here
DATASOURCE_PASSWORD=datasource-password-goes-here

ADMIN_ACCOUNT_USERNAME=admin-account-username-goes-here
ADMIN_ACCOUNT_PASSWORD=admin-account-password-goes-here